@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "navigation.less";
@import "footer.less";
@import "aboutus.less";

html {
    background-color: @mauve;
    color: @waves;
}
// pictures sizes
#grape {
    height: 100%;
    width: 100%;
        @media @mobile {
            height: 100%;
            width: 100%;
        }
}

#daymonster {
    height: 30%;
    width: 30%;
        @media @mobile {
            height: auto;
            width: auto;
        }
}

#monsterfriends {
    height: 30%;
    width: 30%;
        @media @mobile {
            height: auto;
            width: auto;
        }
}
// column structures
