.linksbar {
    display: flex;
    justify-content: space-around;
        @media @mobile {
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
                a {
            border-bottom: dotted 5px @rose;
            }
        }
}

.link {
    text-decoration: none;
    margin: 8%;
    font-size: small;
    color: @powderpurple;
        }
